* {
  box-sizing: border-box;
  font-family: -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans',
    'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN', 'Microsoft YaHei',
    'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
}

body {
  background: #eee;
  /* margin: 18px 0; */
}

article {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  margin: 0 auto;
  overflow: auto;
  padding: 1em;
}

/* 常规样式 */
p,
li {
  margin: 0.1em 0;
}

h1 {
  font-size: 26px;
  margin-bottom: 0;
  color: #000;
}

h2 {
  font-size: 24px;
  color: #333333;
  padding-left: 8px;
  padding-bottom: 4px;
  border-left: 4px solid #444;
  border-bottom: 1px dashed #ccc;
}

h4,
h5,
h6 {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: normal;
  color: #f60;
}

a {
  color: #89cbd5;
  text-decoration: none;
  border-bottom: 1px solid #518890;
  margin-right: 0.25em;
}

p,
li {
  color: #666;
}

strong {
  font-weight: normal;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

.bio {
  display: flex;
  align-items: center;
}

.bio img {
  width: 128px;
  height: 128px;
  margin-top: 4px;
  margin-right: 24px;
}

.bio .wrapper {
  margin-top: -24px;
}

/* projects 样式 */
.projects p {
  color: #666;
}

.projects strong {
  color: #f60;
}

.projects > ol {
  margin-top: 0;
  list-style-position: inside;
  padding: 0;
}

.projects > ol > li {
  margin-bottom: 22px;
}

.projects > ol > li > header {
  display: flex;
  justify-content: space-between;
}

.projects > ol > li h3 {
  display: inline-block;
}

.projects > ol > li h3 > .time {
  margin-left: 6px;
  font-size: 16px;
  font-weight: 400;
}

/* jobs 样式 */
.jobs > ol > li {
  margin-bottom: 20px;
}

.jobs header {
  display: flex;
  color: #666;
  margin-bottom: 6px;
}

.jobs header > h3 {
  font-size: 18px;
  color: #333;
}

.jobs header > h4 {
  margin-left: 1em;
  font-size: 18px;
}

.jobs header > span {
  font-size: 18px;
  margin-left: auto;
}

/*  开源项目 */
.openSource > ul > li {
  margin: 12px 0;
}

/* 教育信息 */
.education span {
  padding-right: 1em;
  color: #666;
}

/* 适配移动端 */
@media (max-width: 500px) {
  body {
    margin: 0;
  }

  article {
    width: auto;
    height: auto;
  }

  .bio img {
    display: none;
  }

  .skills .wrapper {
    flex-direction: column;
  }

  #skills {
    width: auto;
  }
  .jobs header {
    flex-direction: column;
  }
  .jobs header > h3,
  .jobs header > h4,
  .jobs header > span {
    margin: 0;
  }
}
